<script>
$(function () {
    if ($('.ec-productRole__profile .plugin_maker_code').length === 0) {
        $('.ec-productRole__category').after($('#plugin_maker_maker > .plugin_maker_code'));
    }
});
</script>

<div id="plugin_maker_maker" class="d-none">
    {{ eccube_block_maker({'Product': Product}) }}
</div>
